* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.Affliate__registration {
  background-image: url("bg.png");
  height: 100vh;
}
.Affliate__registration h1 {
  font-size: 20px;
}
.logo {
  display: flex;
  column-gap: 10px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px 30px;
  font-size: 18px;
}
.logo img {
  width: 40px;
}
.registration {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.registration p {
  color: #fff;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.registration button {
  background-color: purple;
  border-radius: 10px;
  padding: 10px 20px;
  border: 0;
  column-gap: 20px;
}
.registration button a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.reg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.reg h2 {
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 30px;
}
.reg-join input {
  margin-bottom: 10%;
  width: 200px;
  padding: 14px;
  border: 1px solid purple;
  background: transparent;
  border-radius: 5px;
  color: #fff;
}
.reg-btn {
  background-color: purple;
  width: 235px;
  border: 0;
  padding: 15px;
  border-radius: 5px;
}
.reg-btn a {
  font-size: 15px;
  text-decoration: none;
  color: #fff;
}
.navbar {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: black;
}
.navabar_menu {
  justify-content: center;
  display: flex;
  list-style: none;
  margin-top: 30px;
  padding-left: 35%;
  column-gap: 80px;
  width: 100%;
}
.navbar_links {
  text-decoration: none;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: inline-flex;
  color: #fff;
}
.ham {
  display: none;
  margin-left: 65%;
  margin-top: 18px;
}
.main {
  width: 100%;
  height: 70vh;
  /*background: url("BGaff.png");*/
  background-image: -webkit-linear-gradient(purple, black, red);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  padding-top: 10%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main h1 {
  color: purple;
  font-size: 50px;
}
.main p {
  align-self: center;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.main button {
  background-color: purple;
  border: 1px solid #fff;
}
#about {
  display: flex;
  line-height: 30px;
  padding-top: 30px;
  margin: 30px;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}

.about h1 {
  margin-bottom: 30px;
}
#service {
  display: flex;
  margin: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 30px;
  padding-bottom: 40px;
  font-size: 18px;
  justify-content: center;
  text-align: center;
}
.services h1 {
  margin-bottom: 30px;
}
.order {
  display: flex;
  margin: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 25px;
  font-size: 18px;
}
.order-sub {
  text-align: center;
  justify-content: center;
}
.o1 {
  text-align: center;
  margin-bottom: 13px;
}
.order h1 {
  margin-bottom: 20px;
}
.order h2 {
  margin-bottom: 10px;
}
.order-price {
  display: flex;
  width: 100%;
}
.fivekprice,
.tenkprice,
.twentykprice {
  background-color: rgb(197, 8, 197);
  height: 15%;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  color: #fff;
}
.fivekprice button,
.tenkprice button,
.twentykprice button {
  background-color: #fff;
  border: 0;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 10px;
}

.fivekprice a,
.tenkprice a,
.twentykprice a {
  color: purple;
  text-decoration: none;
}

@media (max-width: 740px) {
  .main {
    height: 40vh;
  }
}

@media (max-width: 550px) {
  .navabar_menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    height: 30vh;
    padding-left: 30px;
    line-height: 60px;
    height: 50vh;
  }
  .ham {
    display: block;
  }
  .line {
    background-color: #fff;
    width: 26px;
    height: 3px;
    display: block;
    margin-top: 5px;
    z-index: 99;
  }
  .main h1 {
    padding-left: 20px;
    font-size: 40px;
  }
}
.fk__payment {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 500px;
  transform: translate(-50%, -50%);
  background-color: purple;
  padding: 15px;
  border-radius: 20px;
}
.head {
  background-image: -webkit-linear-gradient(rgb(197, 8, 197), rgb(155, 9, 155));
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 13px;
  justify-content: center;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.body {
  background-color: #eee9e9;
  border-radius: 15px;
  margin-top: 9px;
  height: 300px;
  padding: 20px 10px;
  font-family: "Times New Roman", Times, serif;
}
.body p {
  color: rgb(101, 98, 93);
  margin-bottom: 15px;
}
.acc-details {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 17px;
}
.payment-btn {
  background-color: rgb(197, 8, 197);
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border: 0px;
  border-radius: 15px;
}
.payment-btn a {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 540px) {
  .side {
    width: 200pxpx;
  }
}
@media (max-width: 440px) {
  .fk__payment {
    width: 270px;
  }
  .registration {
    width: 200px;
  }
}
@media (max-width: 380px) {
  .ham {
    margin-left: 55%;
  }
}
.footer {
  height: 400px;
  width: 100%;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
  column-gap: 40px;
  align-items: center;
}
.f {
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.f input {
  margin-bottom: 7px;
  padding: 20px 40px;
  border-radius: 30px;
}
.f p {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
.p-countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container__Countdown {
  width: 200min;
  height: 300min;
  display: flex;
  flex-direction: column;
  padding: 30px 45px;
  background-color: rgb(42, 40, 40);
  border-bottom: 10px solid purple;
  border-radius: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}
span.num {
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}
span.text {
  color: #fff;
  text-align: center;
  font-weight: 400;
  padding: 10px 0;
}
.e {
  padding-top: 8px;
  font-weight: 700;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.sidebar {
  width: 100%;
}
.side {
  width: 300px;
  height: 90vh;
  background-color: purple;
  border-radius: 10px;
  margin: 30px 0;
  color: #fff;
}
.logo-name {
  padding: 10px 0;
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.con {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.con ul {
  justify-content: center;
  list-style: none;
  margin-left: 100px;
  line-height: 100px;
}
.con ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#value {
  color: #fff;
  margin: 10px 30px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
